<h1><%= @creature.name %></h1>
<h2><%= @creature.description %></h2>
<%= button_to "Delete Creature", @creature, method: :delete %>
<%= link_to "Edit Creature", edit_creature_path %>
<%= link_to "Back", creatures_path %>
