<h1><%= link_to "Edit creature", creatures_path %></h1>
<hr>

<div class="col-md-6 col-md-offset-3">
<%= form_for @creature do |f| %>
  <strong>Name: </strong><%= f.text_field :name, class:"form-control"%>
  <strong>Description: </strong> <%= f.text_area :description, class:"form-control" %>
  <%= f.submit "Save Update", class:"btn btn-primary" %>
  <%= link_to "Back", creatures_path, class: "btn btn-default" %>
<% end %>
</div>
