<h1><%= link_to "Creatures", creatures_path %></h1>
<hr>

<% @creatures.each do |c| %>
<p>
  <strong>Name: </strong><%= c.name %>
  <strong>Description: </strong> <%= c.description %>
  <%= link_to "Edit creature", edit_creature_path(c.id), class: "btn btn-primary"%>
  <%= button_to "Delete", delete_creature_path(c.id), method: :delete, class: "btn btn-danger" %>
</p>
<hr>
<% end %>

<%= link_to "Add a new creature", new_creature_path, class: "btn btn-default" %>
