<h2><%= @creature.name %></h2>
<p><%= @creature.description %></p>

<%= link_to "Back",creatures_path %>
<%= link_to "Edit",edit_creature_path(@creature) %>
<%= button_to "Delete",creature_path(@creature),method: :delete %>
