<br>
<br>
<h3>EDIT CREATURE</h3>
<br>
<br>
<%= form_for @creature do |f| %>
  <p><%= f.text_field :name %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.submit "Save Changes", class: "btn btn-success btn-lg" %></p>
<% end %>
<br>
<br>
<br>
<p><%= link_to "Cancel", creature_path, class: "btn btn-danger btn-lg" %></p>
<p><%= link_to "Home", root_path, class: "btn btn-info btn-lg" %></p>
<p><%= link_to "All Creatures", creatures_path, class: "btn btn-info btn-lg" %></p>
