<br>
<h3>CREATURE INFO</h3>
<br>
<br>
<p><strong>Name:</strong><br><%= @creature.name %></p>
<p><strong>Description:</strong><br><%= @creature.description %></p>
<br>
<br>
<p><%= link_to "Edit", edit_creature_path, class: "btn btn-primary btn-lg" %></p>
<p><%= button_to "Delete", @creature, method: :delete, class: "btn btn-danger btn-lg" %></p>
<p><%= link_to "Home", creatures_path, class: "btn btn-info btn-lg" %></p>
